<div class="modal fade" id="myModal">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">TO DO LIST</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			
			<!-- Modal body -->
			<div class="wraper">
				<form action="" method="" class="mt-5">
		
					<div class="action">
						<input  type="text" name="task" id="input" placeholder="Nouvelle tache ...">
						<button type="submit" name="add" id="add">ADD</button>
						<button type="submit" name="clear" id="clear" value="clear">CLEAR</button>
					</div>

					<ul id="list">
					</ul>
				</form>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


